.paid-page-reviews{
  text-align: center;
  margin: 10rem 0px;
}

.paid-page-reviews h4{
  font-size: 14px;
  margin-bottom: 2rem;
  font-weight: 600;
}

.paid-page-reviews h2{
  margin-top: 0px;
  font-weight: 400;
}

.paid-page-reviews .button{
  margin-right: 0;
  margin-top: 15px;
}
.yotpo-reviews-header h2{
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  font-weight: 800!important;
  font-family: PPObjectSans,sans-serif!important;
}
.yotpo-review-content {
  margin-top:0 !important;
}
@media screen and (max-width: 749px){
  .yotpo-reviews-header h2{
    flex-direction: column;
    transform-origin: center;
    row-gap: 5px;
  }
  .yotpo-main-layout .yotpo-head {
    margin: 20px 0 !important;
  }
  .yotpo-main-layout .yotpo-head .yotpo-headline {
    margin-left: 0 !important;
  }
  .yotpo-header-container[data-v-13e323c7] {
    display: block !important;
  }
  .yotpo-main-layout .yotpo-layout-header-wrapper[data-v-13e323c7] {
    display: block !important;
  }
  .yotpo-main-layout .yotpo-layout-header-wrapper .yotpo-bottom-line[data-v-13e323c7] {
    flex-direction: column;
    width: 100%;
  }
  .yotpo-bottom-line .yotpo-star-distribution {
    border: none !important;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin: 0 auto;
  }
  .yotpo-new-review-btn-wrapper {
    justify-content: center;
    margin: 22px 0;
  }
  .yotpo-review:not(.yotpo-media-modal-review) .yotpo-review-center-panel .yotpo-review-rating-title {
    flex-direction: column !important;
    margin: 30px 0;
    row-gap: 10px;
  }
  .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel {
    flex-wrap: wrap;
    row-gap: 10px;
  }
.yotpo-display-l .yotpo-review:not(.yotpo-media-modal-review) .yotpo-review-center-panel, 
.yotpo-display-m .yotpo-review:not(.yotpo-media-modal-review) .yotpo-review-center-panel {
  flex-basis:100%;
}
  
}
 .yotpo-reviews-header h2 .yotpo-stars{
   display:none;
 }
 .yotpo-reviews-header h2 .standalone-bottomline a{
  font-size: 36px;
  color: rgba(0, 0, 0, 1) !important;
  line-height: 1;
  margin: 0 10px;
  font-family: var(--font-heading-family);
  padding-left: 0;
 }
@media screen and (max-width: 749px){
  .yotpo-reviews-header h2{
    flex-direction: column;
    transform-origin: center;
    row-gap: 5px;
  }
  .yotpo-main-layout .yotpo-head {
    margin: 20px 0 !important;
  }
  .yotpo-main-layout .yotpo-head .yotpo-headline {
    margin-left: 0 !important;
  }
  .yotpo-header-container[data-v-13e323c7] {
    display: block !important;
  }
  .yotpo-main-layout .yotpo-layout-header-wrapper[data-v-13e323c7] {
    display: block !important;
  }
  .yotpo-main-layout .yotpo-layout-header-wrapper .yotpo-bottom-line[data-v-13e323c7] {
    flex-direction: column;
    width: 100%;
  }
  .yotpo-bottom-line .yotpo-star-distribution {
    border: none !important;
  }
  .yotpo-new-review-btn-wrapper {
    justify-content: center;
    margin: 22px 0;
  }
  .yotpo-review:not(.yotpo-media-modal-review) .yotpo-review-center-panel .yotpo-review-rating-title {
    display:flex;
    flex-direction: column;
    margin: 10px 0 0;
    row-gap: 10px;
  }
  .yotpo-filters-container .yotpo-filters-container-inner .yotpo-filters-top-panel {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .paid-page-reviews .yotpo-review .yotpo-review-center-panel .yotpo-review-title{
    order: 1 !important;
    margin:0 !important;
  }
  .paid-page-reviews .yotpo-review{
    margin: 25px 0 !important;
  }
  .paid-page-reviews .yotpo-review-star-rating{
    order: 2 !important;
    margin: 0;
  }
  .paid-page-reviews .yotpo-base-layout{
    width:100% !important;
  }
  .paid-page-reviews .yotpo-review:not(.yotpo-media-modal-review) .yotpo-review-left-panel{
    flex-basis: 50%;
    order: 0;
  }
  .paid-page-reviews .yotpo-review:not(.yotpo-media-modal-review) .yotpo-review-right-panel{
    order: 0;
    flex-basis: 50%;
    text-align: end;
    margin-top: 5px;
  }
  .paid-page-reviews .yotpo-review-center-panel{
    padding-left:0 !important;
    padding-right:0 !important
  }
  .paid-page-reviews .yotpo-bottom-line-right-panel {
    padding-right: 0 !important;
  }
  .paid-page-reviews .yotpo-display-s .yotpo-bottom-line .yotpo-summary-section .yotpo-bottom-line-summary{
    margin-top:0 !important;
  }
  .paid-page-reviews .yotpo-bottom-line .yotpo-summary-section .yotpo-bottom-line-summary{
    flex-direction: column;
    margin-bottom: 20px;
  }
  .paid-page-reviews .yotpo-display-s .yotpo-head .yotpo-headline{
    margin-top:15px !important;
  }
}

.yotpo-bottom-line-right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0 !important;
}

.yotpo-bottom-line-right-panel .yotpo-bottom-line-text {
  display: none;
}

.review-star-container{
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
.review-star-icon-wrapper{
  display: flex;
  align-items: center;
}
.review-star-container svg{
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 749px){
  .review-star-container{
    flex-wrap: wrap;
    row-gap: 1rem;
  }
  .paid-page-reviews h4{
    margin-bottom: 7px;
    transform-origin: center;
  }
  .paid-page-reviews h2{
    margin-bottom:0;
    transform-origin: center;
  }
  .paid-page-reviews .image-with-text_Btn_container{
    width: 100%;
    max-width: 443px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .paid-page-reviews .button{
    width: 100%;
    border-radius: 6px;
  }
  .paid-page-reviews{
    margin: 5rem 0px;
  }
  .paid-page-reviews .yotpo-reviews-pagination-container{
    margin-bottom: 50px !important;
  }
}