.main-password {
  margin-top: 62px;
}

.password-header {
  text-align: center;
  padding-block: 22px;
  background: var(--color-background) var(--gradient-background) no-repeat 100% 100%;
}

.form-container {
  width: 100%;
}

.password-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.password-banner__container {
  max-width: 476px;
  width: 100%;
  padding: 48px 62px;
  background: var(--color-background) var(--gradient-background) no-repeat 100% 100%;
  border-radius: var(--block-border-radius);
}
@media screen and (max-width: 567px) {
  .password-banner__container {
    padding: 38px 16px;
    margin: 15px;
  }
}
.password-banner__container h1 {
  margin-bottom: 36px;
}
.password-banner__btn {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

.password-drawer .drawer__wrapper {
  max-width: 592px;
}
.password-drawer .password__wrapper {
  max-width: 378px;
  width: 100%;
  margin: auto;
}
.password-drawer .drawer__body__wrapper {
  display: flex;
  height: 100%;
}
.password-drawer .drawer__head {
  margin-left: 0;
  margin-bottom: 24px;
}
.password-drawer .btn {
  width: 100%;
}
.password-drawer .store-owner {
  text-align: center;
  margin-block-start: 24px;
}

.password-main {
  background: var(--color-background) var(--gradient-background) no-repeat 100% 100%;
}
.password-main .newsletterForm {
  margin-top: 0px;
}

.newsletterForm,
.password-form {
  height: 100%;
}
.newsletterForm .error-ms,
.newsletterForm .success-ms,
.password-form .error-ms,
.password-form .success-ms {
  top: 0;
  margin-bottom: 0;
}
.newsletterForm__input,
.password-form__input {
  background: transparent;
  border: 1px solid var(--color-input-color);
  color: rgba(var(--color-input-color-rgb)/1);
  padding: 12px;
  width: 100%;
  margin-block-end: 24px;
  border-radius: var(--input-border-radius);
}
.newsletterForm__input::placeholder,
.password-form__input::placeholder {
  font-size: calc(var(--font-body-scale) * 16px);
  line-height: 19px;
  color: rgba(var(--color-input-color-rgb)/0.3);
}

.password__wrapper {
  padding: 16px;
}

.password__footer {
  padding: 22px;
  background: var(--color-background) var(--gradient-background) no-repeat 100% 100%;
}
.password__footer-container, .password__footer-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.password__footer .icon-shopify {
  margin-inline: 6px;
}

.social_media_icons {
  margin-top: 36px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.password-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.password__footer-container {
  justify-content: space-between;
}

.password-main-content {
  flex: 1;
}