.predictive-search__list {
  display: none;
}
.predictive-search__list.active {
  display: block;
  width: 100%;
}
.predictive-search__list-item:hover a, .predictive-search__list-item[aria-selected=true] a {
  text-decoration: underline;
}
.predictive-search__list-item a {
  text-decoration: none;
}
.predictive-search__list-item a, .predictive-search__list-item__heading {
  font-weight: var(--font-body-weight-bold);
  font-family: var(--font-body-family);
  color: var(--color-text);
}
.predictive-search__list-item__heading {
  margin: 4px 0;
}
@media (max-width: 991px) {
  .predictive-search__list-item__heading {
    margin: 0;
  }
}
.predictive-search__list-item__content {
  margin-left: 8px;
}
.predictive-search__tab-list {
  display: flex;
  padding: 0 24px;
  gap: 0 24px;
}
.predictive-search__tab-item {
  position: relative;
  font-weight: var(--font-header-weight);
  font-size: calc(var(--font-heading-scale) * 16px);
  line-height: 20.8px;
  color: rgba(var(--color-text-rgb)/0.5);
  padding: 12px 0 12px;
  margin-bottom: 0;
  cursor: pointer;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .predictive-search__tab-item {
    font-size: calc(var(--font-heading-scale) * 14px);
    line-height: 21px;
    letter-spacing: -0.01em;
  }
}
.predictive-search__tab-item:not(:last-child) {
  margin-bottom: 0;
}
.predictive-search__tab-item::after {
  position: absolute;
  content: "";
  bottom: 7px;
  width: 0px;
  height: 2px;
  background-color: var(--color-text);
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease all;
}
.predictive-search__tab-item.active {
  color: var(--color-text);
  position: relative;
}
.predictive-search__tab-item.active::after {
  width: 33px;
}
.predictive-search__tab-body {
  display: block;
  padding-left: 24px;
  padding-right: 24px;
}
.predictive-search__tab-body .grid-layout {
  gap: 10px;
}
@media (max-width: 991px) {
  .predictive-search__tab-body .grid-layout--4-desktop {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
.predictive-search__tab-body .blogs__moreArticlesItem {
  padding: 0;
}
.predictive-search__tab-body .blogs__moreArticlesItem img {
  width: 100%;
}
.predictive-search__item--link {
  display: flex !important;
  align-items: center;
}
.predictive-search__image {
  width: 60px;
  height: 60px;
  padding-top: 100%;
}
.predictive-search__image img {
  -o-object-fit: contain;
     object-fit: contain;
}
.predictive-search__footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px 24px;
  background-color: var(--color-background);
}
.predictive-search__footer button {
  width: 100%;
}
.predictive-search .fnt-16 {
  font-size: calc(var(--font-body-scale) * 14px);
  line-height: 22px;
}
.predictive-search .collectionCard__title {
  width: 100%;
}
.predictive-search__query-wrp {
  padding: 0 24px;
  margin-bottom: 12px;
}
.predictive-search__query {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
}
.predictive-search__query .predictive-search__list-item {
  margin-bottom: 0;
}
.predictive-search__query .predictive-search__list-item a {
  color: rgba(var(--color-text-rgb)/0.5);
  font-size: calc(var(--font-body-scale) * 14px);
  font-weight: var(--font-body-weight);
}
.predictive-search__tabs {
  display: block;
  border-top: 1px solid rgba(var(--color-border)/1);
}
.predictive-search .predictive-search-container {
  height: calc(100% - 164px);
  overflow-y: auto;
}

.product-predictive-search li {
  margin-bottom: 16px;
}

.page-predictive-search {
  gap: 16px 0;
  display: grid;
}
.page-predictive-search li {
  margin-bottom: 0;
}

.article-predictive-search {
  gap: 10px;
  display: grid;
  grid-template-columns: 100%;
}
.article-predictive-search__item a {
  display: flex;
  gap: 15px;
  align-items: center;
  color: text;
  text-decoration: none;
}
.article-predictive-search p {
  color: var(--color-text);
}
.article-predictive-search__img {
  width: 74px;
  height: 74px;
}

.search-form__input-search-clear {
  right: 72px;
  opacity: 0;
  z-index: 99;
}
.search-form__input {
  border: 1px solid var(--color-input-color);
  color: rgba(var(--color-input-color-rgb)/1);
  background-color: transparent;
  position: relative;
  z-index: 99;
  border-radius: var(--input-border-radius);
}
.search-form__input:valid {
  box-shadow: none;
  outline: none;
}
.search-form__input:valid ~ .search-form__input-search-clear {
  opacity: 1;
}
.search-form__input:valid ~ .prompt_text {
  display: none;
}
.search-form__input:focus ~ .prompt_text p,
.search-form__input:focus ~ .prompt_text span {
  color: rgba(var(--color-text-rgb)/0.4);
}
.search-form .prompt_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 26px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.search-form .prompt_text p {
  margin-bottom: 0;
  color: var(--color-text);
  height: 24px;
  line-height: 24px;
}
.search-form .prompt_text ul {
  height: 24px;
  overflow: hidden;
  margin-left: 4px;
  margin-bottom: 0;
}
.search-form .prompt_text li span {
  position: relative;
  line-height: 24px;
  font-size: calc(var(--font-body-scale) * 16px);
}
.search-form .prompt_text li span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 24px;
  background-color: var(--color-background);
  animation: blink 3s infinite steps(15);
}
.search-form .prompt_text li {
  margin-bottom: 0;
  position: relative;
  top: 0;
  height: 24px;
  overflow: hidden;
  animation-name: slide;
  animation-duration: var(--prompt-duration);
  animation-timing-function: var(--prompt-count-steps);
  animation-iteration-count: infinite;
}
@keyframes slide {
  100% {
    top: var(--prompt-top);
  }
}
@keyframes blink {
  40%, 60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0;
  }
}

.search-trending-product {
  padding-bottom: 16px;
  height: 100%;
}
.search-trending-product__heading {
  padding: 0 24px 16px;
}
.search-trending-product__heading h3 {
  color: var(--color-text);
  margin-bottom: 0;
}
.search-trending-product__wrapper {
  height: 100%;
  padding: 0px 24px 10px;
}
.search-trending-product__wrapper li {
  margin-bottom: 16px;
}
.search-trending-product__item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.search-trending-product__image {
  width: 60px;
  height: 60px;
  border-radius: calc(var(--block-border-radius) / 2);
  overflow: hidden;
}
.search-trending-product__item--link {
  text-decoration: none;
}
.search-trending-product__item__heading {
  font-weight: var(--font-body-weight-bold);
  font-size: calc(var(--font-body-scale) * 20);
  line-height: 23px;
  font-family: var(--font-body-family);
  color: var(--color-text);
  margin-bottom: 4px;
}
.search-trending-product__item-vendor {
  font-size: calc(var(--font-body-scale) * 14);
  color: var(--color-text);
}
.search-trending-product__item__price .price {
  color: var(--color-text);
}
.search-trending-product__body {
  overflow-y: auto;
  height: calc(100% - 150px);
}

@media screen and (min-width: 768px) {
  .prompt_animation input::placeholder {
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (max-width: 767px) {
  .prompt_animation .prompt_text {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .prompt-mobile input::placeholder {
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (max-width: 767px) {
  .prompt-mobile .prompt_text {
    display: flex;
  }
}

.search-form-container[open=true] + .search-trending-product {
  display: none;
}

.search-form-container[open=true] {
  height: 100%;
}
.search-form-container .search-form {
  height: 100%;
  margin: 0 !important;
}